/* Style.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todoModal {
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modalHeader h2 {
    font-size: 18px;
  }
  
  .modalBody {
    margin-bottom: 20px;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input[type='text'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .priorityOptions {
    display: flex;
  }
  
  .priorityOption {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .priorityOption.selected {
    background-color: lightblue; /* Change the background color for selected priority */
  }
  
  .checklistItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checklistItem input[type='text'] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modalFooter button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .modalFooter button:last-child {
    margin-right: 0;
  }
  .redCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    margin-right: 5px;
  }
  
  .blueCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    margin-right: 5px;
  }
  
  .greenCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    display: inline-block
  
  }
  /* Add more styles as needed */
  