.main{
    display: flex;
    flex-flow: row;
    height: 130vh;
}
.mainContent{
  
    width: 82vw;
   
    height: 105vh;
    margin: 10px;
}
.side{
width: 15vw;
height: 135vh;
border: 1px solid #EDF5FE;
}