.board{
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: fit-content;
    height: 98%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0px;

}
p{
    font-size: 16px;
    line-height: 28px;
}
.board_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_title{
flex: 1;
display: flex;
align-items: center;
font-weight: bold;
}
.icons {
    display: flex;
    gap: 10px;
  }
.top_title span{
    color: gray;
}
.board_cards{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 10px;
    overflow-y: auto;
    height: 100%;
    flex: 1;
}